server:
  # defaults to run on port 3000
  port: 3000
  loadExample: true

conductor:
  baseUrl: http://localhost:8080/api

database:
  type: better-sqlite3
  database: data/db.sqlite

tools:
  - name: nodejs
    manifestUrl: http://localhost:3001/manifest.json
