@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkBackground: #111;
  --lightBackground: #fdfdfd;
}

body {
  background-color: var(--lightBackground);

  @media (prefers-color-scheme: dark) {
    background-color: var(--darkBackground);
  }
}

::selection {
  background-color: theme('colors.vines.50/0.25');
}