version: '2.3'

services:
  server:
    build:
      context: ../
      dockerfile: docker/server/Dockerfile
    volumes:
      - ./server/config/server-config.yaml:/usr/src/app/config.yaml
    networks:
      - monkeys
    healthcheck:
      test: ['CMD', 'curl', '-I', '-XGET', 'http://localhost:3000/api/healthz']
      interval: 60s
      timeout: 30s
      retries: 12
    depends_on:
      monkeys-redis:
        condition: service_healthy
      monkeys-postgres:
        condition: service_healthy
      monkeys-elasticsearch:
        condition: service_healthy
    logging:
      driver: 'json-file'

  ui:
    build:
      context: ../ui
      dockerfile: ../docker/ui/Dockerfile
    networks:
      - monkeys
    logging:
      driver: 'json-file'

  conductor-server:
    image: infmonkeys/conductor:1.0.0
    volumes:
      - ./server/config/conductor-config.properties:/app/config/config-local.properties
    networks:
      - monkeys
    ports:
      - 18080:8080
    healthcheck:
      test: curl http://localhost:8080/health -o /dev/null
      interval: 5s
      timeout: 5s
      retries: 12
    logging:
      driver: 'json-file'

  monkeys-redis:
    image: redis:6.2.3-alpine
    volumes:
      - ./server/config/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - monkeys
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']

  monkeys-elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.11
    environment:
      - 'ES_JAVA_OPTS=-Xms512m -Xmx1024m'
      - xpack.security.enabled=false
      - discovery.type=single-node
    volumes:
      - esdata-monkeys:/usr/share/elasticsearch/data
    networks:
      - monkeys
    healthcheck:
      test: curl http://localhost:9200/_cluster/health -o /dev/null
      interval: 5s
      timeout: 5s
      retries: 12
    logging:
      driver: 'json-file'

  monkeys-postgres:
    image: postgres
    environment:
      - POSTGRES_USER=monkeys
      - POSTGRES_PASSWORD=monkeys123
      - POSTGRES_DATABASE=monkeys
    volumes:
      - pgdata-monkeys:/var/lib/postgresql/data
    networks:
      - monkeys
    healthcheck:
      test: timeout 5 bash -c 'cat < /dev/null > /dev/tcp/localhost/5432'
      interval: 5s
      timeout: 5s
      retries: 12
    logging:
      driver: 'json-file'

  monkeys-nginx:
    image: nginx
    volumes:
      - ./server/config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./server/config/nginx/proxy.conf:/etc/nginx/proxy.conf
      - ./server/config/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - monkeys
    ports:
      - 80:80
    logging:
      driver: 'json-file'
    depends_on:
      - server
      - ui
volumes:
  esdata-monkeys:
    driver: local
  pgdata-monkeys:
    driver: local

networks:
  monkeys:
