@tailwind base;

@import "cropperjs/dist/cropper.css";

@tailwind components;
@tailwind utilities;

@import "shadcn";
@import "utils";
@import "rc-image";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer base {
  .vines-ui * {
    @apply border-border transition-colors text-gold-12;
  }

  body {
    @apply bg-background text-foreground h-screen;
    #vines-ui {
      @apply size-full;
    }
  }
}

html {
  &.dark {
    body {
      @apply bg-gray-2
    }
  }
}

body {
  background: linear-gradient(theme('colors.vines.100/0.35') 0%, theme('colors.gray.1') 50%);
  @apply overflow-hidden;
}

#vines-ui {
  @apply backdrop-blur;
}

.text-adjust {
  -webkit-text-size-adjust: none;
}

.text-xxs {
  font-size: 0.625rem;
  @apply text-adjust leading-none;
}

.text-ss {
  font-size: 0.5rem;
  @apply text-adjust leading-none;
}

.vines-result-streaming>:not(ol):not(ul):not(pre):last-child:after, .result-streaming>ol:last-child li:last-child:after, .result-streaming>pre:last-child code:after, .result-streaming>ul:last-child li:last-child:after {
  @apply content-['▋'] -ml-1 align-baseline opacity-0;
  animation: pulse 0.6s infinite;
}

::selection {
  background-color: theme('colors.vines.500/0.15');
  @media (prefers-color-scheme: dark) {
    background-color: theme('colors.vines.500/0.25');
  }
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-corner {
  background-color: theme('colors.gray.8');
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: theme('colors.gray.8');
  opacity: 0.1;
  transition: all 1s;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent;
}

img[src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/72x72/.png"]
{
  @apply hidden flex-none;
}

.monaco-editor { position: absolute !important; }