@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --card-light: #F1F5F9;
  }

  .dark {
    --background: #111113;
    --foreground: 210 40% 98%;

    --card: #111113;
    --card-foreground:0, 0%, 93%;

    --popover: 270deg 3.85% 10.2%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: #111113;
    --secondary-foreground: 210 40% 98%;

    --muted: 0deg 0% 100% / 5%;
    --muted-foreground: 0deg 0% 97.65% / 80%;

    --accent: 270deg 3.85% 18.2%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0deg 0% 100% / 10%;
    --input: 0deg 0% 100% / 8%;
    --ring: 212.7 26.8% 83.9%;

    --gold12: 237 237 237;

    --card-dark: #1D1D1F;
  }
}