.vines-center {
  @apply flex items-center justify-center;
}

.vines-alpha-bg {
  background-image: repeating-conic-gradient(hsl(var(--secondary)) 0 25%, transparent 0 50%);
  background-size: 16px 16px;
}

.vines-hidden-image-bg:hover {
  background-image: none !important;
  background-size: 0 0 !important;
}

.bg-workspace-light {
  background-color: #FCFCFD;
}

.dark .bg-workspace-light {
  background-color: #111113;
}

.bg-dialog {
  background-color: #FCFCFD;
}

.dark .bg-dialog {
  background-color: #111113;
}

/* 为表单控件添加底部间距 */
.pb-0 {
  margin-bottom: 1rem;
}